<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!--<sqlConnection>
		<servidor>.\SQLEXPRESS</servidor>
		<banco>Vendas</banco>
		<login>DESKTOP-215IJJK\galoc</login>
		<senha></senha>
	</sqlConnection>-->

	<sqlConnection>
		<servidor>.\SQLEXPRESS</servidor>
		<banco>Vendas</banco>
		<autenticacao>Windows</autenticacao>
	</sqlConnection>
</configuration>